<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
  <div class="container">
    <div class="nav__content">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/img/loogo.jpg" alt="" />
      </a>

      <div class="nav__search">
        <div class="nav__search--input">
          <input type="text" placeholder="Search" />
          <button class="">Search</button>
        </div>
      </div>

      <div class="nav__cart">
        <div class="nav__cart__icon">
          <a href=""><img src="../../../assets/img/cart__nav.png" alt="" /> </a>
          <span>0</span>
        </div>

        <span>$0.00</span>
      </div>
    </div>
  </div>
</nav>
