.cart {
  &__top {
    padding: 10px 16px;
    display: flex;
    align-items: center;
    background-color: #ddd;
    border-radius: 5px;
    &--home {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }

    &--separate {
      width: 10px;
      height: 15px;
      margin-right: 10px;
    }

    a {
      display: inline-block;
      text-decoration: none;
      margin-right: 10px;
      color: #333;
      &:hover {
        color: green;
      }
    }
  }

  &__info {
    h4 {
      span {
      }
    }

    table {
      tbody {
        tr {
          td {
            span {
              font-size: 14px;
            }
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  &__history {
    &__btn {
      img {
        width: 20px;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
      }
      button {
        box-shadow: unset;

        &:hover {
          color: rgb(119, 182, 26);
        }
      }
    }
  }
}
