<div class="container">
  <div class="cart" style="padding-bottom: 300px">
    <div class="cart__top">
      <img class="cart__top--home" src="../../../assets/img/home.png" alt="" />
      <img
        class="cart__top--separate"
        src="../../../assets/img/arrow-angle-pointing-to-right.png"
        alt=""
      />
      <a href="">Shopping Cart</a>
      <img
        class="cart__top--separate"
        src="../../../assets/img/arrow-angle-pointing-to-right.png"
        alt=""
      />
    </div>

    <div class="cart__info">
      <h5 class="py-3">Shopping Cart</h5>

      <p class="text-center text-danger mb-0" *ngIf="localPare.length === 0">
        Your shopping cart is empty.
      </p>

      <button
        *ngIf="localPare.length === 0"
        class="btn btn-success mt-5 d-flex"
        style="margin-left: auto; margin-right: 80px"
      >
        Continue
      </button>

      <table class="table" *ngIf="localPare.length > 0">
        <thead>
          <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cartItem of localPare">
            <td scope="row">
              <img [src]="cartItem.image" alt="" />
            </td>
            <td>
              <span>{{ cartItem.title }}</span>
            </td>
            <td>
              <button
                class="btn btn-info"
                (click)="handleQuantity(cartItem.id, false)"
              >
                -
              </button>
              <span class="mx-2">{{ cartItem.quantity }}</span>
              <button
                class="btn btn-info"
                (click)="handleQuantity(cartItem.id, true)"
              >
                +
              </button>
            </td>
            <td>
              <span>{{ cartItem.price * cartItem.quantity }}$</span>
            </td>
            <td>
              <button class="btn btn-danger" (click)="delete(cartItem)">
                x
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row justify-content-end" [hidden]="localPare.length === 0">
      <div class="col-4">
        <div class="cart__checkout py-5">
          <table class="table">
            <thead>
              <tr>
                <th>Sub-Total:</th>
                <td style="text-align: right">$902.00</td>
              </tr>
              <tr>
                <th>Eco Tax (-2.00):</th>
                <td style="text-align: right">$2.00</td>
              </tr>
              <tr>
                <th>VAT (20%):</th>
                <td style="text-align: right">$180.40</td>
              </tr>
              <tr>
                <th>Total:</th>
                <td style="text-align: right">$1,084.40</td>
              </tr>
            </thead>
          </table>

          <button class="btn btn-success d-flex" style="margin-left: auto">
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
