<div class="footer__top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="footer__top__content">
          <img src="../.../../../../assets/img/mail.png" alt="" />
          <div class="footer__top__content__text">
            <p>Sign Up For Newsletter</p>
            <p>Signup Our newsletter And get latest updates!</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <form action="" class="form">
          <div class="form-group">
            <input
              type="text"
              name=""
              id=""
              class="form-control"
              placeholder="Your email address"
            />

            <button type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer__bottom py-5">
  <div class="container">
    <ul class="footer__bottom__list">
      <li>
        <h2>Contact Us</h2>
        <div class="list__detail">
          <p>
            <img src="../../../assets/img/placeholder.png" alt="" />
            <span>42 Dream House, Dreammy street, 7131 Dreamville, USA</span>
          </p>
          <p>
            <img src="../../../assets/img/gmail.png" alt="" />
            <span>company@gmail.com</span>
          </p>
          <p>
            <img src="../../../assets/img/phone.png" alt="" />
            <span>456-456-4512</span>
          </p>
          <p>
            <img src="../../../assets/img/telegram.png" alt="" />
            <span>Dream City, USA</span>
          </p>
        </div>
      </li>

      <li>
        <h2>Extras</h2>
        <div class="list__detail">
          <a href=""> Brands </a>
          <a href=""> Gift Certificates </a>
          <a href=""> Affiliate </a>
          <a href=""> Specials </a>
          <a href=""> Site Map </a>
        </div>
      </li>

      <li>
        <h2>Infomation</h2>
        <div class="list__detail">
          <a href=""> About Us </a>
          <a href=""> Delivery Information </a>
          <a href=""> Privacy Policy </a>
          <a href=""> Terms & Conditions </a>
          <a href=""> Contact Us</a>
          <a href=""> Site Map</a>
        </div>
      </li>

      <li>
        <h2>My account</h2>
        <div class="list__detail">
          <a href=""> My Account </a>
          <a href=""> Order History </a>
          <a href=""> Wish List </a>
          <a href=""> Newsletter </a>
          <a href=""> Returns </a>
        </div>
      </li>
    </ul>
  </div>
</div>
