<div class="row">
  <div class="col-2 mb-4" *ngFor="let product of products">
    <div class="product__item">
      <img class="" [src]="product.image" [alt]="product" />
      <div class="product__item__content">
        <a routerLink="/detail/{{ product.id }}">{{
          product.title.length > 20
            ? product.title.substring(0, 10) + "..."
            : product.title
        }}</a>

        <div class="d-flex align-items-center justify-content-between mt-3">
          <span class="text-info">{{ product.price }}$</span>

          <button (click)="addToCart(product)">
            <img src="../../../../assets/img/shopping-cart.png" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
